.my-footer {
    background-color: #262626;
    height: 40px;
    width: 100%;
}

#container {
    display: flex;
    width: 100%;
    float: left;
}

#description {
    display: flex;
    float: left;
    height: 40px;
    width: 80%;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 0%;
    background-position: 50% 25%;
    margin: auto;
}

a {
    float: left;
    margin: 0px 10px;
}

p {
    margin: auto;
}

/* Set a style for all buttons */
button {
    display: flex;
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 30%;
    float: right;
    height: 40px;
    line-height: 0%;
    font-weight: bold;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}