
<section class="login-register">

  <div class="loginregisterclass" v-show="!this.props_blIsLoggedIn">
      <div class="login-pane" v-if="blLoginVisible">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" v-model="sLoginEmail">
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" v-model="sLoginPassword">
        <button class="twitter-btn" v-on:click="btnLoginWithTwitter"><img src="http://icons.iconarchive.com/icons/fasticon/web-2/256/Twitter-icon.png" alt="Twitter" width="50px"></button>
        <button class="facebook-btn" v-on:click="btnLoginWithFacebook"><img src="http://www.iconarchive.com/download/i11578/fasticon/web-2/FaceBook.ico" alt="Facebook" width="50px"></button>
        <button v-on:click="btnLogin">Login</button>
        <button v-on:click="btnSignin1">Sign in</button>
        <!--<label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>-->
      </div>

      <div class="signin-pane" v-if="!blLoginVisible">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" v-model="sRegisterEmail">
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" v-model="sRegisterPassword">
      
          <button v-on:click="btnRegister">Sign in</button>
          <button v-on:click="btnCancel" style="background-color: #f44336">Cancel</button>
      </div>
    </div>

    <div class="logged" v-show="this.props_blIsLoggedIn">
      <button v-on:click="btnLogout">Logout</button>
    </div>

      <!--<div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>-->
</section>

