.my-header {
    background-color: white;
    height: 150px;
    //margin: -4.3%;
}

#description {
    height: 150px;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    background-color: #262626;
    //background-image: url(https://cdn-images-1.medium.com/max/2000/1*SXSjL_GGy6OSnFttwGmrAw.jpeg);
    background-position: 50% 25%;
    
}

.logo {
    height: 150px;
    
}