.principal {
    margin: 0;
    padding: 0;
}

.header {
    position: absolute;
}

.lr {
    margin: auto;
    left: 35%;
    right: 35%;
    width: 30%;
    height: 50%;
}

.users {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 50%;
}

.repos {
    margin: auto;
    padding-top: 7%;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 50%;
}