.principal {
    margin: 0;
    padding: 0;
}

.header {
    position: absolute;
}

.lr {
    position: absolute;
    left: 35%;
    right: 35%;
    width: 30%;
    height: 50%;
}

.users {
    position: absolute;
    left: 35%;
    right: 35%;
    width: 30%;
    height: 50%;
    top: 40%;
}